table.directorio{
	width: 500px;
}

#contenido {
	margin-bottom:20px;
}

#titulo {
	background-color: #ccc;
	font-size: 15px;
	text-align: center;
}

#panel {
	border: solid 1px #CCC;
	box-shadow : 2px 0px 7px 0px rgba(0,0,0,0.47);
	/*width: 90%;*/
	width: 720px;
	margin: 0 auto ; 
} 


#nombre , #area , #anexo {
	border: 1px solid #ccc;
}

#nombre a, #area a, #anexo a{
	
	color: #000;
	font-size: 14px;

}

.cabeceraNombre , .cabeceraArea , .cabeceraAnexo {
	/*width: 33%;*/
	padding:5px;
	font-size:15px;	
}

.cabeceraNombre {
	text-align: left;
}

.cabeceraArea  {
	text-align: left;
}
.cabeceraAnexo {
	text-align: center;
}